# Dockerignore
.git
.gitignore

# Ignore raw huge text files but keep processed pkls
data/*.txt
data/processed/*.txt
notebooks/
docs/
reports/
audit_repo_attack_detector.html

# Cache & environments
__pycache__/
*.pyc
.env
venv/
env/

# Other unnecessary files
*.arff
*.ipynb
*.pdf
